<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    
    <logger name="StockMonitorLogger">
      <!--日志级别: DEBUG<INFO<WARN<ERROR<FATAL-->
      <!--注: 只能打印比设定的日志级别高或者相等级别的日志-->
      <level value="INFO"/>
      <appender-ref ref="StockMonitorLoggerCfg"/>
    </logger>

    <!--具体配置信息:按日期分割日志文件(一天一个)-->
    <appender name="StockMonitorLoggerCfg" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8"/>
      <param name="AppendToFile" value="true"/>
      <param name="lockingModel"  type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="StaticLogFileName" value="false"/>
      <param name="File" value="Log/"/>
      <param name="DatePattern" value="&quot;&quot;yyyy-MM-dd&quot;.log&quot;"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#13;&#10;=====================start=====================&#13;&#10;"/>
        <param name="ConversionPattern" value="%date [%thread] %-5level - %message%newline"/>
        <param name="Footer" value="=====================end=====================&#13;&#10;"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
